.bctt-click-to-tweet {
  display: block;
  background-color: #FFF;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 19px 12px 19px 18px;
  margin-bottom: 1em;
}
.bctt-click-to-tweet:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.bctt-ctt-text a {
  padding: 15px 6px;
  margin: 15px 0;
  position: relative;
  color: #000 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.5em;
  line-height: 140%;
  font-weight: 100;
  text-decoration: none !important;
  text-transform: none !important;
  word-wrap:break-word;
  border-bottom: none !important;
}
.bctt-ctt-text a:hover {
  text-decoration: none;
  color: #999 !important;
}
a.bctt-ctt-btn {
  border-bottom: none !important;
  margin: 0;
  padding: 18px 0 0 0;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: .7em;
  font-weight: bold;
  color: #999999 !important;
  float: right;
  text-decoration: none !important;
}
.bctt-ctt-btn:hover {
  text-decoration: none;
  color: #666666 !important;
  padding: 16px 0 0 0;
}
